/* Global */
body {
    background-color:antiquewhite;
}
.linkTable {
    border: 1px solid black;
    margin-left: 20px;
    background-color: white;
    border-collapse: separate;
}

/* Contacts */
table, th, td {
    max-width: 80%;
    overflow-x:auto;
    border: 1px solid black; 
    border-collapse: collapse;
}
table {
    float:left;
    max-width: 60%;
}
tr:nth-child(even) {
    background-color:blanchedalmond;
}
tr:nth-child(odd) {
    background-color: burlywood;
}
.smol {
    max-height: 100%;
    width: 6em;
}
.large {
    float: right;
    max-width: max-content;
}
#bigboi {
    width: 25em;
    height: 15em;
    object-fit: cover;
    margin-right: 0;
}
.isRotating { 
    animation:5s rotate infinite linear; 
}
.isntRotating {
    animation-play-state: paused;
}
@keyframes rotate{
    100%{ transform:rotate(1turn) } // or 360deg
}
#map {
    padding-top: 30%;
    margin-top: 25em;
    margin-left: .2em;
    position: bottom;
    width: 60%;
    height: 30%;
    max-height: 40%;
}
.id {
    text-align: center;
}

/* Form */
.Form {
    background-color: whitesmoke;
    padding-left: 5%;
    max-width: 15%;
}
/* Widgets */
.grid {
    align-content: center;
    display: inline-grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 30%;
    gap: .1em 10%;
}
.griditem {
    padding: 10%;
}
iframe {
    border: 0px;
}


