/* Global */
body {
    background-color:antiquewhite;
}
.linkTable {
    border: 1px solid black;
    margin-left: 20px;
    background-color: white;
    border-collapse: separate;
}
/* Contacts */
table, th, td {
    max-width: 70%;
    overflow-x:auto;
    border: 1px solid black; 
    border-collapse: collapse;
}
table {
    float:left;
    max-width: 50%;
}
tr:nth-child(even) {
    background-color:blanchedalmond;
}
tr:nth-child(odd) {
    background-color: burlywood;
}
.smol {
    max-height: 100%;
    width: 6em;
}
.large {
    float: right;
    max-width:max-content
}
#bigboi {
    width: 25em;
    height: 15em;
    object-fit: cover;
}
#map {
	height: 50%;
	margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    float: bottom;
}
/* Form */
.Form {
    background-color: whitesmoke;
    padding-left: 5%;
    max-width: 15%;
}
/* Widgets */
.grid {
    align-content: center;
    display: inline-grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 30%;
    gap: .1em 10%;
}
.griditem {
    padding: 10%;
}
iframe {
    border: 0px;
}


