body {
    background-color:antiquewhite;
}

.linkTable {
    border: 1px solid black;
    margin-left: 20px;
    background-color: white;
    border-collapse: separate;
}

.smol {
    max-height: 100%;
    width: 6em;
}

#bigboi {
    float: right;
    height: auto;
    max-width: 28%;
}

.Form {
    background-color: whitesmoke;
    padding-left: 5%;
    max-width: 15%;
}

.grid {
    align-content: center;
    display: inline-grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 30%;
    gap: .1em 10%;
}

.griditem {
    padding: 10%;
}

table, th, td {
    max-width: 90%;
    overflow-x:auto;
    border: 1px solid black; 
    border-collapse: collapse;
}
table {
    float:left;
    max-width: 70%;
}
tr:nth-child(even) {
    background-color:blanchedalmond;
}
tr:nth-child(odd) {
    background-color: burlywood;
}
iframe {
    border: 0px;
}


